@import './Carousel-defaults.scss';

.carousel-container {
  width: 1000px;
  margin: auto;
}

.carousel {
  .test {
    background: #5f9ea0;
    border: solid 1px white;
    color: #fff;
    // font-size: 36px;
    line-height: 100px;
    margin: 15px;
    padding: 2%;
    position: relative;
    text-align: center;

    &:focus {
      z-index: 1;
    }
  }

  .slick-slide * {
    &:focus {
      outline: none;
    }
  }
}

.slick-current {
  transform: scale(1.1);
  color: blue;
  z-index: 2;
}