.medusa {
  width: 300px;
  height: 300px;
  position: relative;
  animation: float 6s ease-in-out infinite;

  &__eyes {
    position: absolute;
    top: 120px;
    width: 100%;

    .eyes {
      width: 75px;
      margin: auto;
    }
  }

  &__mouth {
    position: absolute;
    top: 150px;
    width: 100%;

    .mouth {
      margin: auto;
      display: block;
      height: 100px;
      width: 50px;
    }
  }

  &__arms {
    position: absolute;
    top: 195px;
    width: 100%;
    z-index: 0;

    .arms {
      margin: auto;
      display: block;
      width: 125px;
    }
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}