.polyp {
  height: 250px;
  width: 300px;
  animation: sway 16s infinite;
  transform-origin: 50% 100% 0;
}


@keyframes sway {

  0%,
  100% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }
}