.play {
  text-align: center;
}

.video-container {
  position: relative;
  margin: auto;
}

.overlay {
  background: #87ceeb2b;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}