.play {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &__video {
    position: relative;
    margin: auto;
    grid-column: 1 / -1;

    .overlay {
      background: #87ceeb2b;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  &__avatar,
  &__target {
    border: solid 1px white;
  }

  &__avatar {
    display: flex;
    justify-content: flex-end;
  }
}