@import '../../index.scss';

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  background: black;
  color: white;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.control {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  top: 100px;
  background: #00000094;
  width: 200px;
  width: max-content;
  padding: 10px;

  &--successful-detection {
    top: 0;
    margin-right: 0;
    padding: 10px;
  }
}

.control__button {
  margin: 10px 0;
  color: $color-text;
  background: black;
  border: solid 1px $color-border;
  padding: 10px;
  cursor: pointer;

  &:only-of-type {
    margin: 0;
  }
}

.control__input {
  display: none;
}

.control__info {
  color: $color-text;
  margin: 10px auto;
}

.test {
  color: white;
}

.cropped {
  top: 0;
}


.reset_box {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}